{% extends 'base.html' %}


{% block body %}
	<p>Hi {{ name }},</p>
    <p>Thanks for upgrading! Your Premium account is now active.</p>
    <p>You can publish listing without any restrictions and you also get access to views of your listing.</p>
    <p>You can see the total numbers of views of your listing, the number of views per day, per week, and per
    month.</p>
    <p>You can also see the average prices of your car, namely, the average price by city, by region and
    by country.</p>
    <p>Enjoy the benefits!</p>
    <p>Team AutoRia-Clone</p>
{% endblock %}