{% extends 'base.html' %}


{% block body %}
	<h3>Hi {{ name }},</h3>
    <h2>Thanks for upgrading! Your Premium account is now active.</h2>
    <h2>You can publish listing without any restrictions and you also get access to views of your listing.</h2>
    <h2>You can see the total numbers of views of your listing, the number of views per day, per week, and per
    month.</h2>
    <h2>You can also see the average prices of your car, namely, the average price by city, by region and
    by country.</h2>
    <h2>Enjoy the benefits!</h2>
    <p>Team AutoRia-Clone</p>
{% endblock %}